force-app/main/default/flows/PersonalizedSchedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Invoke the Generate Personalized Schedule Prompt</description>
        <name>Invoke_Prompt</name>
        <label>Invoke Prompt</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>Generate_Personalized_Schedule</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Display_Result</targetReference>
        </connector>
        <inputParameters>
            <name>Input:myContact</name>
            <value>
                <elementReference>Get_Contact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <description>This flow is used to take a contacts interests and generate a report of the available Experiences that they can enroll in today.</description>
    <interviewLabel>Personalize Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Personalized Schedule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoke_Prompt</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <screens>
        <description>Display the field generation result</description>
        <name>Display_Result</name>
        <label>Display Result</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PromptGenerationResult</name>
            <fieldText>&lt;p&gt;{!Invoke_Prompt.promptResponse}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Contact</startElementReference>
    <status>Active</status>
    <variables>
        <description>The record Id that is passed in from the quick action.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
